# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project Specific
frontend/dist/
frontend/node_modules/
frontend/.env
image1.png
image2.png
